* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-bar{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  height: 100px;
  display: flex;
  align-items: center;
}

.nav-image{
  max-width: 180px;
  width: 180px;
  padding-left: 20px;
  padding-top: 10px;
}

.hero-image{
  width: auto;
  padding-left: 50px;
  padding-top: 50px;
  align-self: center;
}

.hero-h1{
  font-size: 62px;
  padding-left: 80px;
  letter-spacing: -0.05em;
}

.hero-p{
  font-size: 22px;
  padding-left: 80px;
}

.person-card{
  display: inline-table;
}

.person-image{
  margin-left: 80px;
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  max-width: 200px;
}

.star{
  margin-left: 80px;
  margin-top: 0px;
  margin-right: 5px;
}

.first-line{
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.trans-text{
  color:gray;
}

.bold-text{
  font-weight: bold;
}

.other-line{
  margin-left: 80px;
}